/*styles for CFF*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Open+Sans:400italic,400,700);
*, *:before, *:after {
	box-sizing:border-box;
}
body {
	line-height: 1.5;
	color: #222222;
}
p, li {
	font-family: Lato, sans-serif;
	font-size: 1.05em;
}
h1,h2,h3, h4{
	font-family: "Open Sans", sans-serif;
	color: #00305B;
	text-align: center;
}
a{
	font-family: "Open Sans", sans-serif;
	color: #49722e;
}
.wrapper{
 width: 92%;
 margin-left: 3%;
 margin-right: 3%;
}
.innerContent {
	width: 92%;
	margin-right: 3%;
	margin-left: 3%;
}
.visuallyHidden {
	position: absolute;
	left: -9999px;
}
.button{
	font-size: 1.125em;
	color: #d5bc8c;
	text-shadow: 0 2px 2px #444;
	display: inline-block;
	width: 100%;
	height: 40px;
	background-color: #466369;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	line-height: 2.115;
	margin-top: 5px;
}
/* THE ALMIGHTY CLEARFIX */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
} 
.clearfix {
  *zoom: 1;
}






/*======================
Header styles
=====================*/
header {
	position: relative;
}

.logoReplace a {
	display:block;
	margin:0 auto;
	height: 105px;
	width: 253px;
	background-size: contain;
	background-image: url(../images/logogogo.png);
	background-image: linear-gradient(transparent, transparent), url ("../images/logo.svg");
	text-indent: -9999px;
}
header p{
	text-align: center;
	color: #00305b;
}
nav.mainNav{
	position: relative;
}
.mainNav ul{
	list-style: none;
	padding:0;
	margin:0;
}
.mainNav li a{
	margin-top: 0;
	padding: 0;
	border-bottom: 2px solid #374a4b;
}
.mainNav .button {
	text-align: left;
	padding-left: 3%;
}
nav>a {
	display: inline-block;
	height: 193px;
	width: 152px;
	background: url(../images/donatelong.png);
	position: absolute;
	right:-3%;
	top:-9px;
	color: #d5bc8c;
	text-shadow: 0 2px 2px #444;
	text-decoration: none;
	line-height: 16.5;
	text-align: center;
	padding-left: 2px;
	font-size: 1.125em;
	font-weight: bold;
}

.imageBehind{
	max-width: 100%;
	position: relative;
	z-index: -1;
	
}
.textOver p{
	color: #d5bc8c;
	text-shadow: 0 2px 2px #444;
	width: 100%;
	position: absolute;
	bottom: -28px;
	padding: 0;
	margin-bottom:0;
	background: rgb(0,48,91);
}




/*===================================================
                    Main styles
====================================================*/
.intro{
	font-weight: bold;
}






/*======================
Main styles Home
=====================*/
.home h2.firstH2 {
	margin-top: 70px;
}
.home h2 {
	margin-top: 45px;
}
.home ul{

}



.home section {

}












										/*==============================
										Footer styles
										===============================*/



section.preFooter {
	display: relative;
	margin-top: 70px;
}

.preFooter h2{
	text-transform: uppercase;
	font-size: 1.125em;
	margin-top: 50px;
}
.preFooter section {
	text-align: center;
}
label>h2 {
	margin-bottom: 0;
}
.preFooter div.email {
	height: 40px;
	text-align: center;
	background-color: #548db8;
}
.preFooter textarea {
	height: 30px;
	width: 75%;
	margin-top: 5px;
	padding-left: 5px;
}
.preFooter input[type=submit]{
	height:24px;
	width: 41px;
	background:url(../images/checkmark1.png) no-repeat center #d5bc8c;
	margin-top: 9px;
	vertical-align: top;
}
footer {
	background-color: #e4d3b4;
	margin-top: 100px;
}
div.donateBadge{
	width: 329px;
	height:136px;
	background: url(../images/donateBadge.png) no-repeat;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	margin: 0 auto;
	margin-bottom: -171px;
	margin-top: 50px;
	position: relative;
}
div.donateBadge p{
	font-size: 1.1em;
	color: #d5bc8c;
	text-shadow: 0 2px 2px #444;
	padding-top: 25px;
}
div.donateBadge a {
		text-decoration: none;
}
footer ul {
	list-style: none;
	text-align: center;
	padding-left: 0;
}
footer nav>ul{
	padding-top: 45px;
}
footer nav h3 {
	margin: 30px 0 0;
}
footer nav li{
	margin: 6px 0;
}
footer p {
	font-size: .8em;
	text-align: right;
}
footer p.contactInfo {
	text-align: left;
}














/*========================================================================
						Media Query 510 - fix header home
==========================================================================*/

@media screen and (min-width: 510px){
	.textOver p{
		padding-top: 5px;
		padding-bottom: 5px;
		bottom: -23px;
	}
}






/*========================================================================
						Media Query 700 - fix header home
==========================================================================*/
@media screen and (min-width: 700px) {

	/*===========================
			Header Styles
	===========================*/

	.logoReplace a {
		position: absolute;
		left: 6%;
	}
	header>p {
		text-align: right;
		padding-top: 85px;
	}

	.mainNav li {
		float: left;
		padding-left: 3%;
	}
	.mainNav li:first-child{
		width: 18%;
	}
	.mainNav li:nth-child(2){
		width: 22%;
	}
	.mainNav li:nth-child(3){
		width: 19%;
	}
	.mainNav li:nth-child(4) {
		width: 25%;
	}
	.mainNav li a {
		border:none;

	}
	.mainNav ul {
		background-color: #466369;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	nav>a {

		height: 110px;
		width: 116px;
		background: url(../images/donateshort.png);
		right:-1%;
		top:-2px;
		line-height: 6.5;
		padding-left: 2px;

	}
	div.textOver p {
		background: none;
		width: 25%;
		margin-left: 3%;
		bottom: 133px;
		text-shadow: 0 1px 2px #000;
	}


}