/*styles for CFF*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Open+Sans:400italic,400,700);
*, *:before, *:after {
	box-sizing:border-box;
}
body {
	line-height: 1.5;
	color: #222222;
}
p, li {
	font-family: Lato, sans-serif;
	font-size: 1.05em;
}
h1,h2,h3, h4{
	font-family: "Open Sans", sans-serif;
	color: #00305B;
	text-align: center;
}
a{
	font-family: "Open Sans", sans-serif;
	color: #49722e;
}
.wrapper{
 width: 92%;
 margin-left: 3%;
 margin-right: 3%;
}
.innerContent {
	width: 92%;
	margin-right: 3%;
	margin-left: 3%;
}
.visuallyHidden {
	position: absolute;
	left: -9999px;
}
.hide {
	display: none;
}
.button{
	font-size: 1.125em;
	color: #f2e8d5;
	text-shadow: 0 2px 2px #444;
	display: inline-block;
	width: 100%;
	height: 40px;
	background-color: #466369;
	border-radius: 2px;
	text-align: center;
	text-decoration: none;
	line-height: 2.115;
	margin-top: 5px;
}
/* THE ALMIGHTY CLEARFIX */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
} 
.clearfix {
  *zoom: 1;
}






/*======================
Header styles
=====================*/
header {
	position: relative;
}

.logoReplace a {
	display:block;
	margin:0 auto;
	height: 105px;
	width: 253px;
	background-size: contain;
	background-image: url(../images/logogogo.png);
	background-image: linear-gradient(transparent, transparent), url ("../images/logo.svg");
	text-indent: -9999px;
}
header p{
	text-align: center;
	color: #00305b;
}
nav.mainNav{
	position: relative;
}
.mainNav ul{
	list-style: none;
	padding:0;
	margin:0;
}
.mainNav li a{
	margin-top: 0;
	padding: 0;
	border-bottom: 2px solid #374a4b;
}
.mainNav .button {
	text-align: left;
	padding-left: 3%;
}
nav>a {
	display: inline-block;
	height: 185px;
	width: 119px;
	background: url(../images/donatelong.png);
	position: absolute;
	right:4px;
	top:-8px;
	color: #f2e8d5;
	text-shadow: 0 1px 2px #444;
	text-decoration: none;
	line-height: 16.5;
	text-align: center;
	padding-left: 11px;
	font-size: 1.125em;
	font-weight: bold;
}
.mainNav ul li a{
	color: #f2e8d5;
	text-shadow: 0 2px 2px #444;
}
.mainNav ul li ul {
	padding: 0;
	margin:0;
}
nav.mainNav ul li {
	position: relative;
	
}
.mainNav ul>li>ul {
	position: absolute;
	display: none;
	z-index: 2;
	background-color: #355258;

}
.mainNav ul>li>ul>li{
	display: block;
	white-space: nowrap;
	padding:0 8px;
}
.mainNav ul ul ul {
	top:0;
	left:100%;
	background-color: #244147;
}
.mainNav li:hover > a {
	background-color: #355258;
}
.mainNav li:hover>ul {
	display: block;
}
/*.mainNav ul li ul li:hover >a {
	background-color: #244147;
}  change this if this makes the cut.  Currently, the hover only changes the link which doesn't have padding*/


.imageBehind{
	max-width: 100%;
	position: relative;
	z-index: -1;
	
}
.textOver p{
	color: #f2e8d5;
	text-shadow: 0 2px 2px #444;
	width: 100%;
	position: absolute;
	bottom: -28px;
	padding: 0;
	margin-bottom:0;
	background: #466369;
}




/*===================================================
                    Main styles
====================================================*/
.intro{
	font-weight: bold;
}
.subNav li {
	margin-bottom: 18px;
}
.subNav ul{
	list-style: none;
	background-color: #e4d3b4;
}




/*======================
Main styles Home
=====================*/
.home h2.firstH2 {
	margin-top: 70px;
}
.home h2 {
	margin-top: 45px;
}



/*======================
Main styles Donations
=====================*/
.donateForm h2, .donateForm h3, .donateForm h4 {
	text-align: left;
}
.donateForm h3, .donateForm h4 {
	margin-bottom: 0;
}
.donateForm input[type=text]{
	padding-left: 5px;
}
.donateForm #anyAmount {
	width: 67px;
}
.donateForm #state {
	width: 30px;
}
.donateForm #zip {
	width: 55px;
}
.donateForm legend {
	color:  #49722e;
}
.donateForm label{
	padding: 0 1%;
	line-height: 2.5;
}
.donateForm p{
	border-bottom: 5px solid #49722e;
	padding-bottom: 20px;
}
.donateForm fieldset {
	border-color: #49722e;
}
.donateForm input[type=submit]{
	background-color: #49722e;
	padding: 5px 10px;
	font-size: 1.125em;
	color: #f2e8d5;
	text-shadow: 0 2px 2px #444;
	line-height: 2.115em;
	margin-top: 20px;
}
.donateForm #one, .donateForm #mc, .donateForm #discover {
	margin-left: 4%;
}














										/*==============================
										Footer styles
										===============================*/



section.preFooter {
	display: relative;
	margin-top: 70px;
}

.preFooter h2{
	text-transform: uppercase;
	font-size: 1.125em;
	margin-top: 50px;
}
.preFooter div {
	text-align: center;
}
label>h2 {
	margin-bottom: 0;
}
.preFooter div.email {
	height: 40px;
	text-align: center;
	background-color: #548db8;
}
.preFooter textarea {
	height: 30px;
	width: 75%;
	margin-top: 5px;
	padding-left: 5px;
}
.preFooter input[type=submit]{
	height:24px;
	width: 41px;
	background:url(../images/checkmark1.png) no-repeat center #f2e8d5;
	margin-top: 9px;
	vertical-align: top;
}
footer {
	background-color: #e4d3b4;
	margin-top: 100px;
}
div.donateBadge{
	width: 329px;
	height:136px;
	background: url(../images/donateBadge.png) no-repeat;
	text-align: center;
	margin: 0 auto;
	margin-bottom: -171px;
	margin-top: 50px;
	position: relative;
}
div.donateBadge p{
	font-family: "Open Sans", sans-serif;
	font-size: 1.1em;
	color: #f2e8d5;
	text-shadow: 0 2px 2px #444;
	padding-top: 23px;
}
span.slightlyLarger {
	font-size: 1.3em;
	text-decoration: underline;
}
div.donateBadge a {
		text-decoration: none;
}
footer ul {
	list-style: none;
	text-align: center;
	padding-left: 0;
}
footer nav>ul{
	padding-top: 45px;
}
footer nav h3 {
	margin: 30px 0 0;
}
footer nav li{
	margin: 6px 0;
}
footer p {
	font-size: .8em;
	text-align: right;
}
footer p.contactInfo {
	text-align: left;
}














/*========================================================================
						Media Query 510 - fix header home
==========================================================================*/

@media screen and (min-width: 510px){
	.textOver p{
		padding-top: 5px;
		padding-bottom: 5px;
		bottom: -23px;
	}
}






/*========================================================================
						Media Query 700 
==========================================================================*/
@media screen and (min-width: 700px) {

	/*===========================
			Header Styles
	===========================*/

	.logoReplace a {
		position: absolute;
		left: 6%;
	}
	header>p {
		text-align: right;
		padding-top: 85px;
	}

	.mainNav li{
		display: inline-block;
		padding-right: 2%;
	}
	.mainNav li.mainList:first-child{
		width: 18%;
		margin-left: 1%;
	}
	.mainNav li.mainList:nth-child(2){
		width: 22%;
	}
	.mainNav li.mainList:nth-child(3){
		width: 18%;
	}
	.mainNav li.mainList:nth-child(4){
		width: 25%;
	}

	.mainNav li a {
		border:none;
	}
	.mainNav ul {
		background-color: #466369;
		margin-bottom: 20px;
		margin-top: 20px;
		border-radius: 2px;
	}
	nav>a {

		height: 90px;
		width: 122px;
		background: url(../images/donateshort.png);
		right:-1%;
		top:-2px;
		line-height: 6.5;
		padding-left: 2px;

	}


	



	div.textOver p {
		background: none;
		width: 25%;
		margin-left: 3%;
		bottom: 5%;
		text-shadow: 0 1px 2px #000;
	}


	/*=============================
		700 Main Styles
	==============================*/
	.home section:first-child h2{
		margin-top: 0;
	}
	.home section:first-child{
		width: 48%;
		float: left;
		margin-top: 20px;
	}
	.home section:nth-child(2){
		width: 50%;
		float: left;
		padding-left: 2%;
		margin-left: 2%;
		margin-top: 20px;
		border-left: 1px solid #f2e8d5;
	}
	.home section:nth-child(2) h2{
		margin-top: 0px;
	}
	.home section:nth-child(3){
		clear: both;
		padding-top: 5px;
		max-width: 740px;
		margin: 0 auto;
	}
	.home section:nth-child(3) .button {
		width: 43%;
		margin: 0 3% 10px;
	}
	.subNav a.button{
		font-size: 1.125em;
		color: #49772e;
		text-shadow:none;
		display: inline-block;
		width: 100%;
		font-weight: bold;
		text-decoration: underline;
		background: none;
		text-align: left;
		padding-left: 3%;
	}
	.subNav {
		width: 37%;
		float: right;
		margin-left: 3%;
		padding-left: 1%;
		margin-top: 42px;
		background-color: #e4d3b4;
	}
	.subNav a.button {
		color: #00305b;
		text-decoration: none;
	}
	ul.subHide {
		margin-top: 0;
	}
	main.smallMain {
		float: left;
		width: 60%;
	}
	.subNav .subHide {
		display: block !important;
	}
	main.mainAlone {
		width: 80%;
		
	}
	
	/*=======================
		Footer Styles 700
	=========================*/
	section.preFooter{
		margin-top: 0;
		clear: both;
	}
	section.preFooter>div {
		display: inline-block;
		width: 31%;
	}
	footer nav>ul>li {
		display: inline-block;
		width: 20%;
		margin-right: 2%;
		vertical-align: top;
	}
	footer p.innerContent {
		display: inline-block;
		width: 63%;
	}
	footer p.contactInfo {
		width: 25%;
		float: left;
	}

}





@media screen and (min-width: 750px){
	div.donateRadio {
	width: 49%;
	display: inline-block;
	}
}



/*========================================================================
						Media Query 930 - 
==========================================================================*/

@media screen and (min-width: 930px){
	nav>a {
		right: 1%;
	}
	div.textOver p {
		font-size: 1.3em;
	}

	.home section:first-child{
		width: 30%;
	}
	.home section:nth-child(2){
		width:33%;
	}
	.home section:nth-child(3) {
		width: 33%;
		float: left;
		clear: none;
		padding-top: 0;
		padding-left: 2%;
		margin-left: 2%;
		margin-top: 20px;
		border-left: 1px solid #f2e8d5;
	}
	.home section:nth-child(3) h2{
		margin-top: 0px;
	}
	.home section:nth-child(3) .button {
		width: 100%;
		margin-bottom: 5px;
		margin-left: 0;
	}
	.home section .button {
		font-size: 1.125em;
		color: #49772e;
		text-shadow:none;
		display: inline-block;
		width: 100%;
		font-weight: bold;
		text-decoration: underline;
		background: none;
		text-align: left;
		padding-left: 3%;
	}
	.donateForm label{
	line-height: 2;
	}
}




/*============================================================
								Cut Off Width 1100/1040
============================================================*/
@media screen and (min-width: 1100px){
	.wrapper {
		width: 1040px;
		margin: 0 auto;
	}
}