@import url("http://fonts.googleapis.com/css?family=Lato:400,700,400italic|Open+Sans:400italic,400,700");
*, *:before, *:after {
	box-sizing:border-box;
}
body {
	line-height: 1.5;
	color: #222222;
}
p, li {
	font-family: $bodyFont;
	font-size: 1.05em;
}
h1,h2,h3, h4{
	font-family: $hlFont;
	color: $headers;
	text-align: center;
}
a{
	font-family: $headers;
	color: $linkText;
	transition: all .3s ease;

	@include breakpoint(1025px){
		&:hover{
			color: $blue;
		}
	}
}
.wrapper {
	 width: 92%;
	 margin-left: 3%;
	 margin-right: 3%;

	@include breakpoint($top){
		width: 1040px;
		margin: 0 auto;
	}
}
.innerContent{
	 width: 92%;
	 margin-left: 3%;
	 margin-right: 3%;
}
.visuallyHidden {
	position: absolute;
	left: -9999px;
}
.hide {
	display: none;
}
.button{
	font-size: 1.125em;
	color: $buttonText;
	text-shadow: $textShadow;
	display: inline-block;
	width: 100%;
	height: 40px;
	background-color: $buttonColor;
	border-radius: $radius;
	text-align: center;
	text-decoration: none;
	line-height: 2.115;
	margin-top: 5px;


	
}
main a.button:hover{
	@include breakpoint(1025px){
		&:hover{
			color: $blue;
		}
	}
}
/* THE ALMIGHTY CLEARFIX */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
} 
.clearfix {
  *zoom: 1;
}

span.slightlyLarger {
	font-size: 1.3em;
	text-decoration: underline;
}