
section.preFooter {
	display: relative;
	margin-top: 70px;

	@include breakpoint($medium){
		margin-top: 0;
		clear: both;
	}
	>div {
		@include breakpoint($medium){
			display: inline-block;
			width: 31%;
		}
	}
}

.preFooter {
	h2{
		text-transform: uppercase;
		font-size: 1.125em;
		margin-top: 50px;
	}
	div {
		text-align: center;
	}
	div.email {
		height: 40px;
		text-align: center;
		background-color: $buttonColor;
	}
	textarea {
		height: 30px;
		width: 75%;
		margin-top: 5px;
		padding-left: 5px;
	}
	input[type=submit]{
		height:24px;
		width: 41px;
		background:url(../images/checkmark1.png) no-repeat center $tan;
		margin-top: 9px;
		vertical-align: top;
	}
}


footer {
	background-color: $darkTan;
	margin-top: 100px;

	p {
		font-size: .8em;
		text-align: right;
	}
	p.innerContent {
		@include breakpoint($medium){
			display: inline-block;
			width: 63%;
		}
	}
	p.contactInfo {
		text-align: left;

		@include breakpoint($medium){
			width: 25%;
			float: left;
		}
	}
	ul {
		list-style: none;
		text-align: center;
		padding-left: 0;
	}
	nav {
		>ul{
			padding-top: 45px;
			>li {
				@include breakpoint($medium){
					display: inline-block;
					width: 20%;
					margin-right: 2%;
					vertical-align: top;
				}
			}
		}
		h3 {
			margin: 30px 0 0;
		}
		li{
			margin: 6px 0;
		}
	}


}
div.donateBadge{
	width: 329px;
	height:136px;
	background: url(../images/donateBadge.png) no-repeat;
	text-align: center;
	margin: 0 auto;
	margin-bottom: -171px;
	margin-top: 50px;
	position: relative;

	p{
		font-family: $hlFont;
		font-size: 1.1em;
		color: $buttonText;
		text-shadow: $textShadow;
		padding-top: 23px;
	}
	a {
		text-decoration: none;
		color: $tan;
		
			&:hover{
				color: #fefcf9;
			}
	
	}
}







