//fonts
$hlFont: "Open Sans", sans-serif;
$bodyFont: Lato, sans-serif;

//colors
$blue: #00305b;
$green: #49722e;
$teal: #466369;
$tan: #f2e8d5;
$darkTan: #e4d3b4;

//color uses
$headers: $blue;
$buttonText: $tan;
$buttonColor: $teal;
$linkText: $green;
$donateColor: $green;

//media query sizes
$medium: 700px;
$large: 930px;
$top: 1100px;

//other
$textShadow: 0 2px 2px #444;
$radius: 2px;
